html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* end reset css */

body {
	background: #272727;
}

#wrapper {
	width:750px;
	margin:auto;
	padding-top: 50px;
}

#header {
	
	background-color: #0b6f2f;
	width: 750px;
	height: 5em;
	border: 3px solid black;
	display: block;
}

#header h1 {
	font-size: 250%;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #272727;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
}

#header img {
	float: left;
	display: inline;
	height: 80%;
	padding-left: 20px;
	padding-top: 10px;
}

#topmenu {
	padding-top: 10px;
	padding-bottom: 70px;
	color: #bdbaba;
}

#topmenu ul {
	float: left;
}

#topmenu li {
	display: inline;
	padding-left:7px;
	padding-right:7px;
}

#topmenu a {
	text-decoration: none;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
	color: #ffb900;
}

#topmenu a:hover {
text-decoration: underline;
}

#search {
	margin-left:5px;
	background-color: #bdbaba;
	border: 2px solid black; 
	color: black;
	width: 140px;
	padding: 4px;
}

#Search img {
	height: 30px;
	width: 30px;
}

#content {
	width:500px;
	background-color: #bdbaba;
	font-family: Arial, "MS Trebuchet", sans-serif;
	line-height: 1em;
	padding: 30px;
	float: left;
	display: inline;
	border: 3px solid black;
	margin-right: 30px;
	
}

.PostTitle {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 20px;
}

.PostBody {
	font-size: 12px;
	line-height: 1.2em;
	padding-bottom: 1.5em;
}

.PostFooter small{
	font-size: 10px;
}

.Post {
	padding-bottom: 50px;
}

#sidebar {

}

.widget {
	font-family: Arial, "MS Trebuchet", sans-serif;
	padding-bottom: 20px;
	
	
}

.widget h3 {
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding-bottom: 10px;
}

.widget li a{
	text-decoration: none;
	font-size: 12px;
	color: #ffb900;
	text-indent: 10px;
	padding-left: 15px;
	line-height: 1.3em;
	
}

.widget a{
	text-decoration: none;
	font-size: 12px;
	color: #ffb900;
	text-indent: 10px;
	padding-left: 15px;
	line-height: 1.3em;
	
}

.widget small a {
	font-size: 10px;
	
}

.widget li a:hover {
text-decoration: underline;
}

#login {
	font-size: 12px;
	color: #ffb900;
	
}

#username, #password{
	display: block;
	margin-bottom: 5px;
	background-color: #bdbaba;
	border: 2px solid black; 
	color: black;
	padding: 4px;
}

#Footer {
	font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
	color: white;
	text-align: center;
	font-size: 10px;
}